# Claude
.claude
codebase.md
settings.local.jsonwith

# OS files
.DS_Store

# npm modules
/node_modules
/package-lock.json

# Parcel cache folder
.cache

# Build files
/index.js
/index.css

# Environment files
.env
.env.local
.env.*.local

# Composer vendor folder
/vendor/
.claude/settings.local.json
/composer.lock

# Kirby CMS
/site/plugins

# Logs
/logs